<a href="https://colab.research.google.com/github/joulongleu/BANanoWebix/blob/master/FinLab_Bayesian_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 下載歷史數據

In [44]:
!pip install yfinance > log.txt

import yfinance as yf
import time

index = {
  'Taipei': '^TWII',
  'Europe': '^FTSE',
  'NYSE': '^GSPC',
  'Shenzhen': '399001.SZ'
}

price = {}
for i, st in index.items():
  stock = yf.Ticker(st)
  print(st)
  price[i] = stock.history(period="max")
  time.sleep(1)

^TWII
^FTSE
^GSPC
399001.SZ

# 統計上漲下跌

In [45]:
import pandas as pd

rise = pd.DataFrame({name: p.Close > p.Open for name, p in price.items()}).dropna().loc['2016':]
rise['TaipeiTomorrow'] = price['Taipei'].Close.shift(-1) - price['Taipei'].Open.shift(-1)

rise

           Taipei Europe   NYSE Shenzhen  TaipeiTomorrow
Date
2016-01-04  False  False  False    False      -29.889998
2016-01-05  False   True   True     True      -73.859516
2016-01-06  False  False  False     True     -111.179657
2016-01-07  False  False  False    False       82.769630
2016-01-08   True  False  False    False      -67.379574
...           ...    ...    ...      ...             ...
2021-03-24   True   True  False    False       49.599609
2021-03-25   True  False   True     True      165.509766
2021-03-26   True   True   True     True       64.300781
2021-03-29   True  False   True    False       64.589844
2021-03-30   True   True  False     True      -98.099609

[1175 rows x 5 columns]

# 上漲下跌分析

In [29]:
rise['Shenzhen'].mean()

0.5148936170212766

In [41]:
# 修改這裡
condition = (rise.Taipei == False) & (rise.Europe == True)
target = 'NYSE'

# 不用動
(rise[condition][target] > 0).mean()

0.639344262295082

# 上漲機率分析

In [47]:
from google.colab import files
from io import BytesIO
path = files.upload()
pd.read_csv(BytesIO(list(path.values())[0])).TaipeiTomorrow.mean()

Saving taipei.csv to taipei.csv

0.461